<h1>Groups</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <% @groups.each do |group| %>
      <tr>
        <td><%= group.id %></td>
        <td><%= link_to group.name, [group, :products] %></td>
        <td><%= link_to "Rename", [:edit, group] %></td>
        <td><%= link_to "Delete", group, method: :delete %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'Create new group', :action => 'new' %></p>
