<h1><%= @group.name %> products</h1>
<p id="notice"><%= notice %></p>

<table>
  <tr>
    <th>Group Id</th>
    <th>Id</th>
    <th>Name</th>
  </tr>
  <% @products.each do |product| %>
      <tr>
        <td><%= product.group_id %></td>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= link_to "Rename", [:edit, @group, product] %></td>
        <td><%= link_to "Delete", [@group, product], confirm: "Are you sure?", method: :delete %></td>
      </tr>
  <% end %>
</table>

<p><%= link_to 'Create new product', :action => 'new' %></p>
<p><%= link_to "Back to groups", groups_path %></p>
