<h1>Create new product for group <%= @group.name%></h1>

<%= form_for [@group, @product] do |f| %>

    <p><%= f.text_field :name %></p>
    <p><%= f.submit "Create product" %></p>

<% end %>

<p><%= link_to "Back to products", [@group, :products] %></p>